<h1 class="mb-4">書籍一覧</h1>

<div class="d-flex justify-content-between mb-3">
  <%= link_to '新規登録', new_book_path, class: 'btn btn-primary' %>

  <%= form_with url: books_path, method: :get, local: true, class: 'd-flex' do %>
    <input class="form-control me-2" type="search" name="q" placeholder="タイトルまたは著者名で検索" aria-label="検索" value="<%= params[:q] %>">
    <button class="btn btn-outline-success" style="width: 70px" type="submit">検索</button>
  <% end %>
</div>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">著者</th>
      <th scope="col">出版社</th>
      <th scope="col">出版日</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <%= render 'book', book: book %>
    <% end %>
  </tbody>
</table>

<% if @books.empty? %>
  <p class="text-center">該当する書籍が見つかりませんでした。</p>
<% end %>
