<h1 class='mb-4'>書籍登録</h1>

<div class='card'>
  <div class='card-body'>
    <div class='mb-3'>
      <%= link_to "本を検索する", search_books_path %>
    </div>
    <%= render 'form', book: @book %>
  </div>
</div>

<div class="mt-3">
  <%= link_to '一覧に戻る', books_path %>
</div>
